{% extends "shop/base.html" %}
{% block title %}
پیگیری سفارش
{% endblock %}
{% block body %}
    <br/><br/><br/><br/>
    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>پیگیری سفارش</h2>
                        <p>برای پیگیری سفارش ایمیل یا شماره تلفن خود را وارد کنید</p>
                        <div class="subscribe_form">
                            <input type="email" placeholder="ایمیل یا شماره تلفن">
                            <a href="#" class="btn_1">پیگیری</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}