{% extends "shop/base.html" %}

{% block title %}
    صورت‌‌حساب
{% endblock %}
{% block body %}
    <div class="container" style="background-color:#f6f6f6;">
        <br/><br/>
        <div class="col-lg-10">
            <div class="single_product_text text-right">
                <h2>پرداخت</h2>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-5" style="border-radius:0ch;">
                <div class="order_box">
                    <div class="single_product_text text-right">
                        <h2>سفارش شما</h2>
                    </div>
                    <ul class="list">
                        <li>
                            <a href="#">(تومان)قیمت
                                <span class="middle">تعداد</span>

                                <span>محصول</span>
                            </a>
                        </li>
                        {% for product,count,price in bill %}

                            <li>
                                <a href="#">
                                    {{ price }}
                                    <span class="middle">x {{ count }}</span>
                                    <span class="last">{{ product.name }}</span>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                    <br/><br/> <br/><br/>
                    <br/><br/>
                    <br/><br/>

                    <ul class="list list_2">
                        <li>
                            <a href="#">{{ total_price }}
                                <span>مجموع</span>
                            </a>
                        </li>
                    </ul>

                    <div class="payment_item active">
                        <div class="single_product_text text-center">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="whole-wrap single_product_text text-right">
                    <div class="container box_1170">
                        <div class="section-top-border">
                            <form method="post">
                                <label>نام</label>
                                <div class="mt-10">
                                    <input type="text" name="first_name" placeholder="نام"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام'" required
                                           class="single-input">
                                </div>

                                <label>نام خانوادگی</label>
                                <div class="mt-10">
                                    <input type="text" name="last_name" placeholder="نام خانوادگی"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام خانوادگی'"
                                           required class="single-input">
                                </div>
                                <label>ایمیل</label>
                                <div class="mt-10">
                                    <input type="email" name="EMAIL" placeholder="ایمیل" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'ایمیل'" required class="single-input">
                                </div>
                                <label>شماره تلفن</label>
                                <div class="mt-10">
                                    <input type="email" name="PHONE" placeholder="شماره تلفن"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'شماره تلفن'"
                                           required class="single-input">
                                </div>
                                <label>آدرس</label>
                                <div class="mt-10">
                                    <textarea name="address" placeholder="آدرس"
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'آدرس'" required
                                              class="single-input"> </textarea>
                                </div>
                                {# todo:change this #}
                                <input type="hidden" value="{{ count }}" name="count">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-lg-5">
                <div class="order_box">
                    <div class="creat_account">
                        <input type="checkbox" id="f-option4" name="selector"/>
                        <label for="f-option4">را قبول میکنم </label>
                        <a href="#">قوانین و مفررات </a>
                    </div>
                    <a class="btn_3" href="#">درگاه پرداخت</a>
                </div>
            </div>
            <div class="col-lg-5">
            </div>
        </div>
        <br/><br/><br/>
    </div>
{% endblock body %}