{% extends "shop/base.html" %}
{% block title %}
پیگیری سفارش
{% endblock %}
{% block body %}
    <br/><br/><br/><br/>
    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>پیگیری سفارش</h2>
                        <p>برای پیگیری سفارش کد پیگیری خود را وارد کنید</p>
                        <p dir="rtl">می‌توانید برای پیگیری ایمیل یا شماره تلفن خود را نیز وارد کنید، در این صورت آخرین سفارش ثبت شده با این ایمیل یا شماره تلفن نمایش داده خواهد شد.</p>
                        <form method="post"  class="subscribe_form">
                            <input type="text" placeholder="ایمیل یا شماره تلفن یا کد پیگیری">
                            <button type="submit" class="btn_1">پیگیری</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}