{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    خانه
{% endblock %}
{% block body %}
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>عنوان محصول</h1>
                            <p>توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                                توضیحات </p>
                            <a href="{% url "shop:detail" 1 %}" class="btn_1">خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_img">
            <img src="{% static "shop/img/banner.png" %}" alt=" #" class="img-fluid">
            <img src="{% static "shop/img/banner_pattern.png" %}" alt="#" class="pattern_img img-fluid">
        </div>
    </section>

    <br/><br/><br/><br/><br/><br/>



    <!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="client_review_slider owl-carousel">
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="{% static "shop/img/client.png" %}" alt="#">
                            </div>
                            <p>توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                                توضیحات</p>
                            <h5>- اسم</h5>
                        </div>
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="{% static "shop/img/client_1.png" %}" alt="#">
                            </div>
                            <p>توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                                توضیحات</p>
                            <h5>- اسم</h5>
                        </div>
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="{% static "shop/img/client_2.png" %}" alt="#">
                            </div>
                            <p>توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                                توضیحات</p>
                            <h5>- اسم</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->

{% endblock body %}