{% extends "shop/base.html" %}

{% block body %}
    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">موفق</div>
        <div class="card-body text-success">
            <h5 class="card-title">پرداخت موفقیت آمیز بود</h5>
            <p class="card-text" style="color: green;">پرداخت موفقیت آمیز بود
            </p>
        </div>
    </div>
    <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">نا موفق</div>
        <div class="card-body text-danger">
            <h5 class="card-title">پرداخت موفقیت آمیز بود</h5>
            <p class="card-text" style="color: red;">پرداخت موفقیت آمیز بود
            </p>
        </div>
    </div>
{% endblock body %}