{% extends "shop/base.html" %}
{% block title %}
    پیگیری سفارش
{% endblock %}

{% block body %}
    <br/>
    <!--================ confirmation part start =================-->
    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="single_product_text text-right">
                            <h1>اسم و فامیل</h1>
                        </div>
                        <div class="confirmation_tittle text-right">
                            <span>سفازش شما ثبت شده است.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
    <section class="confirmation_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                </div>
                <div class="col-lg-6">
                    <div class="order_box">
                        <h2>سفارش شما</h2>
                        <ul class="list">
                            <li>
                                <a href="#">(تومان)قیمت
                                    <span class="middle">تعداد</span>

                                    <span>محصول</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    ۱۰,۰۰۰,۰۰۰
                                    <span class="middle">x ۲</span>
                                    <span class="last">اسم محصول</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    ۱۰,۰۰۰,۰۰۰
                                    <span class="middle">x ۲</span>
                                    <span class="last">اسم محصول</span>
                                </a>
                            </li>

                        </ul>
                        <br/><br/>
                        <ul class="list list_2">
                            <li>
                                <a href="#">۲۰,۰۰۰,۰۰۰
                                    <span>مجموع</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4><span>اطلاعات سفارش</span></h4>
                        <ul>
                            <li>
                                <p>۱۰۲۳۱۲۳۲۳۲</p><span>شماره پیگیری:</span>
                            </li>
                            <li>
                                <p>در حال ارسال</p><span>: وضعیت سفارش</span>
                            </li>
                            <li>
                                <p>total</p><span>: USD 2210</span>
                            </li>
                            <li>
                                <p>mayment methord</p><span>: Check payments</span>
                            </li>
                            <br/><br/>
                        </ul>
                    </div>
                </div>
            </div>
    </section>
    <!--================ confirmation part end =================-->

{% endblock body %}