{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    خرید
{% endblock title %}
{% block body %}
    <br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/>


    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="product_img_slide owl-carousel">
                        <div class="">
                            <img src="{% static "shop/img/product/single_product.png" %}" alt="#" class="img-fluid">
                        </div>
                    </div>

                    <div class="single_product_text text-center">
                        <form method="get" enctype="multipart/form-data" action="{% url "shop:bill" %}"
                              class="card_area">
                            <div class="product_count_area">
                                <p>تعداد</p>
                                <div class="product_count d-inline-block">
                                    <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                                    <input name="count" class="" type="text" value="1"
                                           min="0"
                                           max="30">
                                    <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
                                </div>
                                <p>قیمت</p>
                            </div>
                            <div class="add_to_cart">
                                <button type="submit" class="btn_3">پرداخت</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_product_text text-center">
                        <h1>عنوان </h1>
                        <h5>عنوان</h5>
                        <p>
                            توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                            توضیحاتتوضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                            توضیحات
                            توضیحاتتوضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                            توضیحات
                            توضیحاتتوضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات توضیحات
                            توضیحات
                            توضیحات
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->

{% endblock body %}